/* ---
    reset
    --- */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code,
form, fieldset, legend, input, textarea,
p, blockquote, th, td, hr, button,
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

* {
    box-sizing: border-box;
}

$shadow: 0 2px 5px rgba(#d3d5d7, .1);
$color: #a9c9c9;
$light: #e2e3e4;
$gray: #424344;
$border: 1px solid #e2e3e4;

html {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body {
    color: rgba(0, 0, 0, 0.6);
    font: 14px/1.8 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #fafbfc;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;

    &:link, &:visited {
        opacity: 1;
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        -o-transition: all .15s linear;
        -ms-transition: all .15s linear;
        transition: all .15s linear;
        color: $gray;

    }

    &:hover, &:active {
        color: $color;
    }
}

/* ---
	global
    --- */

.layout {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
}

.ft-center {
    text-align: center;
}

.u-box {
    background: #fff;
    box-shadow: $shadow;
}

/* nav */
.m-nav {
    $h: 50px;
    height: $h;
    line-height: $h;
    background: #fff;
    box-shadow: $shadow;
    li {
        float: left;
        margin-right: 30px;
    }
}

/* header */
.m-header {
    padding: 60px 0 80px;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    .site-title {
        position: relative;
        display: inline-block;
        margin: 37px 0;
        font-size: 56px;
        line-height: 1.2;
        &:before {
            content: '';
            position: absolute;
            height: 41px;
            width: 96px;
            left: 50%;
            margin-left: -48px;
            bottom: -5px;
            background: url(./leaf.png) no-repeat 0 0;
            background-size: 96px 41px;
            opacity: .7;
        }

    }
    .nav {
        font-size: 18px;
        text-transform: capitalize;
        a {
            padding: 0 10px;
        }
        span {
            color: $light;
        }
        span:last-child {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .m-header {
        padding: 60px 0;
    }
}

/* side */
.m-sidebar {
    $h: 35px;
    padding: 0 20px;
    .side-box {
        margin-bottom: 30px;
    }
    .side-title {
        padding: 10px 0;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        font-family: Josefin Sans, sans-serif;
    }
    .search-form {
        position: relative;
        input {
            padding: 0 10px 0 30px;
            width: 80%;
            height: $h;
            display: block;
            border: 0;
            border-radius: 2px;
            font-size: 14px;
            &:focus {
                outline: none;
                border-color: $color;
            }
        }
        button {
            height: $h;
            width: 30px;
            position: absolute;
            left: 0;
            top: 0;
            background: none;
            border: 0;
            .fa {
                color: $gray;
            }
        }
    }
    .my_socials {
        a {
            display: inline-block;
            height: $h;
            width: $h;
            margin-right: 5px;
            line-height: $h;
            // border: $border;
            border-radius: 2px;
            text-align: center;
            font-size: 18px;
            color: $gray;
            background: #fff;
            &:hover {
                border-color: $color;
                color: $color;
            }
        }
    }
    .tag-item {
        padding: 0 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: $h;
    }
    .side__a {
        display: inline-block;
        // border: $border;
        color: $gray;
        border-radius: 2px;
        background: #fff;
        &:hover {
            color: $color;
            border-color: $color;
        }
    }
}

/* main */

.wrapper {
    padding: 40px 30px;
    background: #fff;
    box-shadow: $shadow;
}

.content {
    padding: 0 20px;
}

.wrapper .doc_comments {
    margin: 0;
    padding: 0;
}

.doc_comments #new_comment_form .input_body {
    box-sizing: content-box;
}

.post_detail {
    margin: 0 auto;
    max-width: 960px;
    .wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.post {
    margin-bottom: 30px;

    .post_title {
        h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 10px;
        }
    }

    .post_cover {
        height: 400px;
        overflow: hidden;
        margin: -40px -30px 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        img {
            max-width: 100%;
        }
    }

    .post_content {
        padding-bottom: 20px;
        a {
            color: $color;
        }
    }

    .post_footer {
        font-size: 12px;
        .info {
            height: 25px;
            color: $gray;
            margin-top: 10px;
        }
        .date {
            margin-right: 15px;
        }
        a {
            color: $gray;
            margin-right: 15px;
        }
        i {
            margin-right: 3px;
        }
    }
}

.paginator {
    padding: 15px 0;
    text-align: center;
    a {
        margin: 0 2px;
        padding: 5px 10px;
        border: $border;
        border-radius: 2px;
    }
    .page_number {
        padding: 5px 10px;
        display: inline-block;
    }
    .pre {
        float: left;
    }
    .next {
        float: right;
    }

}

/* footer */
.footer {
    text-align: center;
    font-size: 12px;
    padding-top: 60px;
    padding-bottom: 20px;
    .site_footer_wrap .site_footer {
        border-top: none;
        margin: 0;
    }
    a {
        color: $gray;
    }
}

/*for archive*/
.list_with_title {
    .listing_title {
        font-size: 24px;
        color: #666666;
        font-weight: bold;
        padding-top: 10px;
        line-height: 2.2;
        margin-bottom: 10px;
    }
    .listing {
        margin: 0 0 50px 0;
        padding: 0;
        .listing_post {
            padding-bottom: 15px;
            .post_date {
                float: right;
                color: #c5c5c5;
            }
        }
    }
}

/*animation starts*/

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: rotate(0);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/*animation ends*/