extends base.jade

block content
	.post-head
		.title: h1.h1= post.title
		.date: time= post.date("%B %d, %Y")
    .content.narrow-content
        .post.wrapper
            .post_content.markdown= post.content
		.post_tags
			if post.tags: .tags: for tag in post.tags
            	a.btn(role="tags",href="/tags/{{ tag }}")= tag
        .wrapper
            +post.comments_as_html()